{% extends 'layout.html.twig' %}

{% block content %}
<h1 class="toto">Balance ton Santa</h1>
<div class="formulaire">

    <form action="" method="POST" class="ajouter">
        <h2>Ajouter votre SDM</h2></br>

        <div>
            <label for="pseudo" >Pseudo :</label>
            <input type="text" name="pseudo" id="pseudo"placeholder="Pseudo" required="required">
        </div>
        <div>
            <label for="titre">Titre :</label>
            <input type="text" name="titre" id="titre" placeholder="Titre"required="required">
        </div>
        <div>
            <label for="msg">Message :</label>
            <textarea name="msg" id="msg" cols="30" rows="10" maxlength="500" required="required"></textarea>*
        </div>
        <div>
            <input type="submit" value="Envoyer" >
        </div>
        <input type="hidden" id="love" name="love" value= 0>
        <input type="hidden" id="no_love" name="no_love" value= 0>
    </form>
</div>

{% endblock %}
