{% extends 'layout.html.twig' %}

{% block content %}
    <section id="post-button-section" class="post-button-section">
        <div class="find-button">
                <a href='/addSdm' class="btn-meet">🔍</a>
        </div>
    </section>
    {% for post in posts %}
        <article>
            <header>{{ post.pseudo }}</header>
            <footer>{{ post.story }}</footer>
        </article>
    {% endfor %}
{% endblock %}

