{% extends 'layout.html.twig' %}

{% block content %}
    <form method="post">
        <button>Submit</button>
    </form>
    {% for post in posts %}
        <article>
            <header>{{ post.pseudo }}</header>
            <footer>{{ post.story }}</footer>
        </article>
    {% endfor %}
{% endblock %}

