{% extends 'layout.html.twig' %}

{% block content %}
    <section id="post-button-section" class="post-button-section">
        <div class="find-button">
                <a href='/addSdm' class="btn-meet">🔍</a>
        </div>
    </section>
    {% for post in posts %}
        <article>
            <header>{{ post.pseudo }}</header>
            <div>{{ post.story }}</div>
            <footer>
                <form class='like' action="" method="post">
                    <input type="hidden" name="targetId" value={{post.id}}>
                    <input type="submit" value={{ post.love }}>
                </form>
            </footer>
        </article>
    {% endfor %}
{% endblock %}
