<!doctype html>

<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/images/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="/assets/css/style.css">
    {% block stylesheet %}{% endblock %}
</head>

<body>
    {% block nav %}
        <nav>
            <ul>
                <li><img class="bts" src="https://i.goopics.net/p558ph.png"></a>
                <li><img class="logo" src="https://i.goopics.net/f8ea0z.png"></a>
                <li><img class="sdm" src="https://i.goopics.net/4sea20.png"></a>
            </ul>
        </nav>
    {% endblock %}

    {% block javascript %}{% endblock %}
</body>
</html>

