/** C S S  V A R I A B L E S **/
:root{
    --font-color: #FDFDFF;
    --background: #333333;
    --background-nav:#800000;
    --background-div: #4D4C50;
    --font-family-h2: "Rokkitt";
    --font-family-autre: "Quicksand";
}

/** G O O G L E  F O N T **/
/* Rokkit */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');
/*Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border-style: none;
}

/** N A V B A R **/
body {
    background-color: #333333;
}

nav {
    background-color: #800000;
    height: 90px; line-height: 90px;
}

nav ul {
    display: flex;
    padding: 0;
    flex-direction: row;
    justify-content: center;
    font-family: Curlz MT, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: #8f8d8d;
    padding-right: 3em;
}

img.logo {
    border:none;
    width: 200px;
}
.toto{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-top: 6rem;
}

h2{
    font-size: 2rem;
}

form {
    text-align: center;
}


.formulaire{
    margin-top: 4rem;
    width: 50%;
    margin-left: 25rem;
}

.ajouter{
    display: flex;
    flex-direction: column;
    background-color: var(--background-div);
    text-align: center;
    justify-content: center;
    border-radius: 20px;

}

/**FOOTER**/

.menuFooter {
    position: fixed;
    bottom: 0;
    background-color: var(--background-nav);
    width: 100%;
    height: 5rem;

}

footer ul li {
    list-style: none;
}

.kitouchki{
    color: var(--font-color);
}

.kit{
    width: 5.5rem;
}
